.App {
  text-align: left;
}
.item {
  width: 200px;
  height: 280px;
  margin: 10px;
  border-radius: 8px;
  border-color: rgb(184, 184, 245);
  background-color: white;
}
.item img {
  width: 200px;
  height: 150px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.itemInfo {
  margin: 10px;
  height: 100px;
  position: relative;
}
.itemInfo h5 {
  margin-top: 0px;
  margin-bottom: 3px;
  width: 180px;
}
.seeLoc {
  text-decoration: underline;
  color: blue;
  margin-bottom: 0px;
  font-size: 10px;
  position: absolute;
  bottom: 0px;
}
.itemInfo .address {
  font-size: 12px;
  margin-top: 2px;
  width: 180px;
}
.listItems {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(246, 246, 255);
}
.category {
  font-size: 12px;
  height: 17px;
  margin-top: 5px;
  color: blue;
  width: 180px;
}
.name-address {
  width: 40%;
  background-color: rgb(246, 246, 255);
}
.details .image {
  width: 60%;
  height: 300px;
}
.desc-contact {
  flex-grow: 1;
  flex-shrink: 1;
}
.image img {
  width: 100%;
  height: 100%;
}
.row {
  width: 80%;
  margin: auto;
  display: flex;
}
.workHours {
  min-width: 290px;
  max-width: 300px;
  flex-basis: auto;
  margin-left: 10px;
  margin-right: 10px;
}
.workHours h3 {
  padding-left: 10px;
}
.workHours table tbody td {
  padding-left: 10px;
  padding-right: 10px;
}
.team-member img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border-color: rgb(184, 184, 245);
  border-width: 2px;
  border-style: solid;
}
.team-members {
  display: flex;
  flex-wrap: wrap;
}
.team-member {
  width: 90px;
  height: 90px;
}
#team-members-container {
  display: block;
}
#back-button {
  margin-left: 10%;
  width: fit-content;
}